@charset "UTF-8";
/* CSS Document */


#header-navbar ul li a img {
	width: 50px;
	height: 50px;
}
.ui-header {
	border: none;
}
.ui-page-theme-a .ui-btn:visited {

	border: none;
}

.banner {
	position: relative;
	overflow: auto;
}
.banner ul{
	margin:0;
	padding:0;
}

.banner ul li {
	list-style: none;
	
	float: left;
	
}

.banner .dot {
	-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
}
.banner .dots {
	position: absolute;
	left:0;
	top: 45%;
	width:100%;
	padding:0;
	text-align:center;
}
.banner .dots li {
	display: inline-block;
 *display: inline;
	zoom: 1;
	width: 6px;
	height: 6px;
	line-height: 10px;
	margin: 0 4px;
	text-indent: -999em;
 *text-indent: 0;
	border: 2px solid #FFA54B;
	border-radius: 6px;
	cursor: pointer;
	opacity: .4;
	-webkit-transition: background .5s, opacity .5s;
	-moz-transition: background .5s, opacity .5s;
	transition: background .5s, opacity .5s;
	
}
.banner .dots li.active {
	background: #fff;
	opacity: 1;
}

.banner ul li img{
	width:50px;
	height:50px;
}
.title{
	text-align:center;
}
.title img{
	max-width:40%;
	border:1px solid #CCC;
}
